<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <queries>
        <package android:name="com.instagram.android" />
    </queries>

    <application
        android:name=".InstaDMGuardApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstaDMGuard">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.InstaDMGuard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Remove broken library-merged activities that are exported=true
             without intent-filters. These cause Pixel 7 (Android 14+) package
             installer to silently reject installation. -->
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            tools:node="remove" />
        <activity
            android:name="androidx.activity.ComponentActivity"
            tools:node="remove" />

        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            tools:node="remove" />

        <service
            android:name=".service.InstagramBlockAccessibilityService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            tools:node="merge">
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                tools:node="remove" />
        </provider>
    </application>

</manifest>
